
<page-title ng-if="layoutOptions.pageTitles" title="{{pageTitle}}" description="{{ pageDescription }}"></page-title>

<div class="row">

    <div class="col-sm-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
                <div class="panel-options">
                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>
            <div class="panel-body">

                <form  role="form"  class="form-horizontal" name="myForm"   >

                    <div class="form-group"  ng-class="{'has-error': myForm.reason.$invalid && !myForm.reason.$pristine}">
                        <label class="col-sm-2 control-label" >หัวข้อ</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="reason" name="reason" ng-model="data.reason" placeholder="รู้จักคลินิกได้อย่างไร" required>
                            <span ng-show="myForm.reason.$error.required && !myForm.reason.$pristine" class="text-danger">Required</span>
                        </div>
                    </div>



                    <div class="col-sm-10 col-sm-offset-2 well text-center" role="alert" type="black" ng-show="myForm.$invalid" >
                            <span class="text-primary">กรอกแบบฟอร์มให้ถูกต้องถึงจะกด save ได้ค่ะ</span>
                    </div>
                    <div class="alert alert-danger col-sm-10 col-sm-offset-2" ng-hide="!error">
                        <div align="center">{{error}}</div>
                    </div>




                    <br>
                    <a href="#/app/customers-know" class="btn btn-white">Cancel</a>
                    <button ng-disabled="myForm.$invalid" title="กรอกแบบฟอร์มให้ครบถ้วนถึงจะกด save ได้ค่ะ" ng-click="submitForm(data)" class="btn btn-secondary">Save</button>
                    <button class="btn btn-danger" ng-show="data.status==1" ng-model="id" ng-click="deleteData(id)" >Delete</button>
                    <button class="btn btn-black" ng-show="data.status==0" ng-model="id" ng-click="restoreData(id)" >Restore</button>

                </form>

            </div>
        </div>
    </div>
</div>





